<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794933162405-po984ro2v67lshh9khj52mo3220nmbuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794933162405-po984ro2v67lshh9khj52mo3220nmbuv</string>
	<key>API_KEY</key>
	<string>AIzaSyASUU3fRnEIhjk_qfcACGjwSWBFAWo8jIU</string>
	<key>GCM_SENDER_ID</key>
	<string>794933162405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nisafatima.InstantFood</string>
	<key>PROJECT_ID</key>
	<string>instantfood-8b061</string>
	<key>STORAGE_BUCKET</key>
	<string>instantfood-8b061.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794933162405:ios:8ef3df24d40b9543b4f84c</string>
</dict>
</plist>